.textBlockOther{
  width: 100%;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.8);
  text-align: justify;
}

.textBlockOther > a{
  color: #0876e0;
  text-decoration: underline;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .textBlockOther{
    max-width: unset;
    padding: 0 15px;
  }
}